---
name: 'Build for Freebsd'
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout'
      - uses: actions/checkout@v2

      - name: 'Installing Go'
        uses: actions/setup-go@v2
        with:
          go-version: '^1.15.0' # The Go version to download (if necessary) and use.

      - name: 'Build FreeBSD binary'
        run: GOOS=freebsd go build
