name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
        go get -v -d -t .

    - name: FreeBSD Build
      run: GOOS=freebsd go build -v -o nomad-pot-driver .

    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: pot-mac
        path: /home/runner/work/potMachine/potMachine/nomad-pot-driver 
